<a class="md:w-1/3 m-2.5" href="">
  <article class="h-64 bg-white rounded-lg relative mb-5">
    <header>
      <picture class="rounded-t-lg"
        ><source
          class="object-cover object-center"
          type="image/webp"
          srcset="
            https://cdn.cafecito.app/images_profile/7fe48bf0-baee-11ec-8270-7704816fd9c3.webp
          "
          alt="Imagen de portada" />
        <img
          class="rounded-t-lg h-20 w-full"
          srcset="
            https://cdn.cafecito.app/images_profile/9ef85000-ac65-11eb-84e6-352102f37a5a.jpg
          "
          alt="Imagen de portada" /></picture
      ><picture
        class="rounded-full h-16 w-16 absolute left-1/2 top-12 border-2 ml-[-30px]"
        ><source
          class="rounded-full object-cover object-center"
          type="image/webp"
          srcset="
            https://cdn.cafecito.app/images_profile/7fe4b300-baee-11ec-8270-7704816fd9c3.webp
          "
          alt="Imagen de perfil" />
        <img
          class="rounded-full h-16 w-16"
          srcset="
            https://cdn.cafecito.app/images_profile/9e971d30-ac65-11eb-84e6-352102f37a5a.jpg
          "
          alt="Imagen de perfil"
      /></picture>
    </header>
    <section class="my-10">
      <div class="text-xl text-center mb-4">Nacho Montes de Oca</div>
      <div class="text-md text-center mb-4">Periodismo</div>
      <div class="flex justify-center">
        <img
          src="../../../../assets/img/heladito_logo.png"
          alt=""
          class="w-8 h-8 mr-2"
        /><span class="text-center pt-1"
          >x
          <!-- -->9657<!-- -->
          recibidos</span
        >
      </div>
    </section>
  </article>
</a>
