<footer class="bg-[#FFDABF] py-8">
  <div class="mx-3 px-4 w-100">
    <div class="flex flex-wrap justify-between">
      <div class="w-full md:w-1/2 lg:w-1/4 mb-4 md:mb-0">
        <p class=" text-sm">&copy; 2021 Todos los derechos reservados</p>
      </div>
      <div class="flex w-full md:w-1/2 lg:w-3/4 flex-col md:flex-row justify-between">
        <div class="w-full md:w-1/2 lg:w-3/4 mb-4 md:mb-0">
          <div class="flex flex-wrap justify-center md:justify-start">
            <a href="#" class="text-sm">Preguntas frecuentes</a>
            &nbsp;|&nbsp;
            <a href="#" class="text-sm">Términos y condiciones</a>
            &nbsp;|&nbsp;
            <a href="#" class="text-sm">Política de privacidad</a>
          </div>
        </div>
        <div class="w-full mt-4 md:mt-0">
          <div class="flex justify-center md:justify-end">
            <a href="#" class=" text-2xl mr-4"><i class="fab fa-facebook"></i></a>
            <a href="#" class=" text-2xl mr-4"><i class="fab fa-twitter"></i></a>
            <a href="#" class=" text-2xl mr-4"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
