<div class="flex flex-col items-center  min-h-screen ">
  <h2 class="text-5xl text-center text-white my-8 text-stroke-black">¡Dale vida a tus gustos!</h2>
  <h3 class="text-lg text-center text-gray-800 mb-12">Heladito es una innovadora plataforma web que va mucho más allá del simple crowdfunding. A diferencia de otras plataformas, Heladito ofrece una amplia gama de funcionalidades diseñadas para potenciar tus proyectos de manera integral.</h3>
  <div class="flex flex-col sm:flex-row items-center">
    <div class="relative">
      <span class="absolute inset-y-0 left-0 pl-3 flex items-center text-gray-500">
        heladito.app/
      </span>
      <input class="w-full px-4 py-2 pl-32 border border-gray-300 rounded-md shadow-sm " type="text" placeholder="Ingrese su texto aquí">
    </div>
    <button class="bg-yellow-300 text-yellow-800 hover:bg-yellow-400 py-2 px-4 rounded focus:outline-none mt-4 sm:mt-0 sm:ml-6">Crear cuenta</button>
  </div>
  <h3 class="text-4xl text-center text-white text-stroke-black my-8">¿Cómo funciona Heladito?</h3>
  <app-heladito-animation></app-heladito-animation>
</div>
